<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sistema_de_facturacion.Properties.Settings.facturasConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Data\ferreteria_facturacion.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="sistema_de_facturacion.Properties.Settings.ferreteria_facturacionConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Data\ferreteria_facturacion.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="sistema_de_facturacion.Properties.Settings.ferreteria_facturacionConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ferreteria_facturacion.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>